table, th, td {
  border: solid 1px #CCC;
  padding: 1px 3px;
  font: 15px Verdana;
}
p-dataTable p-column{
  border: solid 2px #CCC;
}
th{
  font-weight:bold;
}
u{
  color: darkblue;
}
u:hover{
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
