<h1>Polisy</h1>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gf type="text" pInputText size="50" placeholder="Szukaj globalnie">
</div>
<div >
  <p-dataTable [value]="insurances" [loading]="loading" loadingIcon="fa-spinner" [globalFilter]="gf">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true"></p-column>
    <p-column field="client.surname" header="Klient" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Szukaj (nazwisko)">
      <ng-template let-row="rowData" pTemplate="body">
        <a [routerLink]="['/clientDetails', row.client.client_id]">{{row.client.name}} {{row.client.name2}} {{row.client.surname}}</a>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
